.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  :global li {
    border: 0.5px solid #d3d2d2;
    border-radius: 25px;
      margin-right: 5px;

    &.selected{
      font-weight: bold;
      border: 0.5px solid #fd5b2c;
    }
    &.previous {
      margin-right: 15px;
    }
    &.next {
      margin-left: 15px;
    }

    &:hover {
      background-color: #fe5f1e;
    }
    & a{
      display: inline-block;
      width: 40px;
      height: 40px;
      font-size: 18px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }
  }
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex: 1;
}

.resetButton {
  margin: 0 auto 50px auto ;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px;

  &:hover{
    background-color: #fe5f1e;
  }
}