@import '../variables';

.pizza-block {
  flex: 1;
  min-width: 285px;
  max-width: 33%;
  text-align: center;
  margin-bottom: 65px;
  margin-right: 45px;

  .pizza-block-wrapper {
    cursor: pointer;
  }

  .pizza-block-wrapper:hover .pizza-block__title {
    color: #fe5f1e;
  }


  @media (max-width: 1199px) {
    max-width: 50%;
  }

  @media (max-width: 833px) {
    margin-right: 0;
    min-width: 60%;
    max-width: 65%;
    width: 65%
  }

  @media (max-width: 615px) {
    min-width: 60%;
    max-width: 80%;
    width: 80%
  }

  @media (max-width: 420px) {
    min-width: 195px;
  }

  &__image {
    width: 60%;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.015em;
    margin-bottom: 20px;

    @media (max-width: 833px) {
      font-size: 25px;
      margin-bottom: 5px;
    }
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          font-weight: 700;
          background: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    @media (max-width: 440px) {
      margin-top: 10px;

      &,.button--add {
        padding: 5px 8px 5px 5px;
      }
    }

    @media (max-width: 420px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
      padding: 3px;

      &,.button--add {
        width: 100%;
        padding: 10px;

        &, span {
          padding: 12px;
        }
      }
    }
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;

    @media (max-width: 420px) {
      font-size: 25px;
      padding: 5px;
    }
  }
}
