//.root {
//  display: flex;
//}

.center {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 100%;
}

.skeletonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
